.jumbotron .container{
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
}

.nav li {
     display: inline;
     padding-left:30px;
     padding-right: 20px;
     padding-top:20px;
     font-family: fantasy;
}